:root {
    /* Declaración de variables globales */
    --color-fondo-principal: #001621;
    --color-fondo-secundario: #062a34;
    --color-fondo-secundario-hover: #0a3547;
    
    --color-texto-principal: #f4f8fa;
    --color-texto-secundario: #a9bbc3;
    --color-texto-oscuro: #607984;

    --color-principal: #f5b942;
    --color-principal-hover: #ffd166;
    --color-principal-oscuro: #c58506;

    --color-negro: #000;

    --color-exito: #35c759;
    --color-fondo-mensaje-exito: #5df884a6;

    --color-error: #ff5c5c;
    --color-fondo-mensaje-error: #f57f7fbb;

    --fuente-pincipal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

/*Reseteo del Box Sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Configuración para el elemento raíz */
html {
  font-family: var(--fuente-pincipal) ;
  font-size: 16px; /* Base para usar 'rem' correctamente */
  line-height: 1.5; /* Mejora la legibilidad del texto automáticamente */
  scroll-behavior: smooth; /* Desplazamiento suave al navegar por anclas */
}

/* Tu body mejorado con tipografía fluida y control de desborde */
body {
  background-color: var(--color-fondo-principal);
  color: var(--color-texto-principal);
  margin: 0;
  min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla alta */
  text-rendering: optimizeLegibility;
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}

/* Reseteo clave para imágenes y elementos multimedia */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; /* Evita que las imágenes "rompan" el diseño en celulares */
  height: auto;
}